body {
  font-family: 'Segoe UI', 'Droid Sans', Arial, sans-serif;
  font-size: 11px; }

.time-sch-item-event {
  border-width: 1px;
  border-style: solid;
  width: 4px; }

.item-event-submit-end {
  background-color: green;
  border-color: white; }
  .item-event-submit {
  background-color: green;
  border-color: white; }
   .item-event-recommend {
  background-color: green;
  border-color: white; }

.item-event-examination {
  background-color: blue;
  border-color: white; }

.item-event-interview-one {
  background-color: yellow;
  border-color: white; }

.item-event-interview-two {
  background-color: red;
  border-color: white; }
  .item-event-interview-three {
  background-color: yellow;
  border-color: white; }
  .item-event-offer {
  background-color: black;
  border-color: white; }

.item-status-none {
  background-color: blue; }

.item-status-underway {
  background-color: orange; }

.item-status-fail {
  background-color: #ff2222; }

.item-status-success {
  background-color: green; }

.time-sch-item {
  transition: background-color ease 0.1s;
  border-width: 2px;
  border-style: solid; }
  .time-sch-item.item-status-success {
    border-color: #006700; }
    .time-sch-item.item-status-success:hover {
      background-color: #00b300; }
  .time-sch-item.item-status-fail {
    border-color: #ff0808; }
    .time-sch-item.item-status-fail:hover {
      background-color: #ff5555; }
  .time-sch-item.item-status-none {
    border-color: #0000e6; }
    .time-sch-item.item-status-none:hover {
      background-color: #3333ff; }
  .time-sch-item.item-status-underway {
    border-color: #e69500; }
    .time-sch-item.item-status-underway:hover {
      background-color: #ffb733; }
  .time-sch-item.ui-draggable-dragging {
    cursor: move; }

.realtime-info {
  display: none; }

.period-3day .time-sch-header-0-date-even {
  background-color: #F0F0F0; }

.period-1week .time-sch-header-0-date-even {
  background-color: #F0F0F0; }

.period-1month .time-sch-header-1-date-even {
  background-color: #F0F0F0; }

.time-sch-wrapper .time-sch-header-1-current-time {
  background-color: #999999;
  border-color: #888888; }
.time-sch-wrapper .time-sch-header-0-date-start {
  border-left-color: #444444; }
.time-sch-wrapper .time-sch-header-0-date-end {
  border-right-color: #444444; }

